################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/API_USUARIO/bin/Debug/net6.0
/API_USUARIO/obj
